<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Teatr Kleks - Zajęcia teatralne dla dzieci w Wielkiej Brytanii</title>
        <meta name="description" content="Teatr Kleks to miejsce w którym dzieci uczą się poprawnej polszczyzny, poznają polską kulturę,
            literaturę oraz muzykę poprzez magiczny świat tańca i dramy.">
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster|Cardo:400,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Javascript -->
        <script src="js/vendor/modernizr.min.js"></script>
        <script src="js/vendor/jquery-2.0.3.min.js"></script>
        <script src="js/vendor/prismic.io-1.0.1.min.js"></script>
        <script src="js/prismic-configuration.js"></script>
        <script src="js/prismic-helpers.js"></script>
        <script src="js/prismic-templates.js"></script>
    </head>
    <body>

      <a href="#logo" class="back-to-top">↟</a>
      <img src="images/bg.png" alt="" class="splatter" alt="">

      <header class="navigation-wrapper">
        <div class="logo-wrapper" id="logo">
          <img src="images/logo.png" alt="Logo Teatr Kleks">
        </div>
        <ul class="navigation">
          <li><a href="#theatre">O Teatrze</a></li>
          <li><a href="#classes" class="purple">Zajęcia</a></li>
          <li><a href="#teachers" class="red">Pedagodzy</a></li>
          <li><a href="#gallery" class="blue">Galeria</a></li>
          <li><a href="#contact" class="green">Kontakt</a></li>
        </ul>
      </header>

      <div class="intro-wrapper">
        <div class="intro-text">
          <h2>
            Drodzy Rodzice,<br>
            Jeśli chcecie aby wasze dzieci posługiwały się poprawną polszczyzną, poznawały polską kulturę, literaturę oraz muzykę poprzez magiczny świat tańca i dramy lub ujmując prościej, wartościowo spędziły czas,<br>
            <span>Przyjdźcie do nas!</span>
          </h2>
        </div>
        <div class="news">

        </div>
      </div>

      <div class="content-wrapper">
        <hr>
        <div class="theatre-text" id="theatre">
          <h3>O Teatrze</h3>
          <p class="lead">Teatr Kleks to miejsce w którym dzieci uczą się poprawnej polszczyzny, poznają polską kulturę,
          literaturę oraz muzykę poprzez magiczny świat tańca i dramy.</p>
          <p>Zajecia obejmują różnorodne ćwiczenia ruchowo
          – dźwiękowe, oddziaływanie na wyobraźnię, mowę, ćwiczenia na koncentracje (słuchanie,
          patrzenie, dotyk – łączenie zmysłów ) oraz poznawanie polskiej literatury dziecięcej. Kulminacją niektórych serii zajeć są przedstawienia w formie miniatur taneczno-teatralnych.
          </p>
          <p>
            Naszym celem jest prowadzenie szeroko pojętej edukacji teatralnej i tanecznej. Szeroki wachlarz zajęć czerpie z technik Lee Strasberga, Jerzego Grotowskiego, Konstantego Stanisławskiego i innych.
          </p>
        </div>

        <div class="theatre-text" id="classes">
          <h3>Zajęcia</h3>

          <table class="table">
            <tr>
              <th>Anerley</th>
              <td>Poniedziałki godz. 16-16.45</td>
            </tr>
            <tr>
              <th>Croydon</th>
              <td>- już wkrótce</td>
            </tr>
          </table>

          <p><b>Ceny:</b><br>
          Semestr (6 zajęć) - £36<br>
          Pojedyńcze zajęcia - £8</p>
          <a href="#contact" class="green">Kontakt</a>
        </div>

        <div class="theatre-text" id="teachers">
          <h3>Pedagodzy</h3>
          <p>
            Justyna Ziarek i Oktawia Kosek to dwie, doświadczone instruktorki grup tanecznych i teatralnych. Obie przez wiele lat zdobywały swoje zawodowe doświadczenie, ucząc się od najlepszych polskich i angielskich pedagogów po to, aby dziś stworzyć profesjonalny zespół nauczycieli gotowych na współpracę z Waszymi pociechami.
          </p>

          <h4>Więcej o nas:</h4>
          <p><b>Justyna Ziarek</b> jest choreografem, nauczycielem tańca i współdyrektorem teatru fizycznego Theatre Libre.  Justyna studiowała choreografię na Middlesex University  w Londynie i szkoliła się u pani  Zofii Dąbrowskiej w Gliwicach. Już od najmłodszych lat zafascynowana tańcem, muzyką i teatrem, Justyna wygrywała różne konkursy ogólnopolskie wraz z zespołem miniatur tanecznych "Gaduły", a później z zespołem tańca nowoczesnego "Iluzja". Justyna występowała w Niemczech i Austrii w musicalu Mamma Mia, brała udział w  międzynarodowym festiwalu teatralnym w Edynburgu, oraz uczestniczyła w projekcie "Danza por los ninos" w Peru.</p>
          <p>Obecnie Justyna pracuje nad projektem teatralnym "The Dagger and the White Lily".</p>

          <p><b>Oktawia Kosek</b> jest instruktorem teatralnym, absolwentką Uniwersytetu Jagiellońskiego (Kraków) oraz  Uniwersytetu Marii Curie Skłodowskiej  (Lublin,) gdzie w ramach studiów pedagogicznych  o specjalności Animator Kultury ukończyła specjalizacje teatralną  w zakresie reżyserii teatru i dramatu.  Oktawia zaczynała swoją aktorsko-teatralną edukację w znanym w Polsce amatorskim teatrze "Panopticum"  u Mieczysława Wojtasa, wielokrotnego "Instruktora roku" oraz Włodzimierza Kukawskiego,  kierownika muzycznego Lubelskiego  Zespołu Pieśni i Tańca im.
          Wandy Kaniorowej. Wraz z zespołem wielokrotnie zdobywała główne nagrody oraz wyróżnienia na wielu ogólnopolskich i międzynarodowych festiwalach.</p><p>
          Czynnie uczestniczyła w warsztatach z zakresu tańca współczesnego, prowadzonych przez
          Hannę Strzemiecką, dyrektora Lubelskiego Teatru Tańca oraz brała udział w realizacji spektakli LTT. Ponadto Oktawia szlifowała swój warsztat w Lart Studio (Kraków) – prywatnej szkole aktorskiej pod okiem wyśmienitych pedagogów-aktorów scen Warszawskich i Krakowskich.
          Tuż po studiach z sukcesem prowadziła stworzony przez siebie Młodzieżowy Teatr Rebellio.
          Obecnie Oktawia pracuje nad scenariuszem do autorskiego spektaklu opartego na jednym z dramatów  Mirona Białoszewskiego.</p>
        </div>

        <div class="gallery-wrapper">
          <div class="theatre-text" id="gallery">
            <h3>Galeria</h3>
              <ul class="gallery__list">
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/01.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/02.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/03.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/04.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/05.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/06.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/07.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/08.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/09.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/10.jpg">
                </li>
                <li class="gallery__item gallery__item-portrait">
                  <img src="images/galeria/thumbs/11.jpg">
                </li>
                <li class="gallery__item gallery__item-portrait">
                  <img src="images/galeria/thumbs/12.jpg">
                </li>
                <li class="gallery__item gallery__item-portrait">
                  <img src="images/galeria/thumbs/13.jpg">
                </li>
                <li class="gallery__item">
                  <img src="images/galeria/thumbs/14.jpg">
                </li>
              </ul>
          </div>
        </div>

        <div class="theatre-text" id="contact">
          <h3>Kontakt</h3>
          <div class="column">
            <p>
              <strong>Adres:</strong><br>
              42 Castledine Road<br>
              Anerley<br>
              SE20 8PL<br>
              (blisko stacji Anerley)<br>
              <a href="http://goo.gl/maps/UNJ1R">Zobacz na mapie</a>
            </p>
          </div>

          <div class="column">
            <p>
              <strong>☏ Tel:</strong><br>
              ● 0208 699 0754<br>
              ● 0783 078 0233<br>
              ● 0752 781 3603<br>
              <br>
            </p>
          </div>

          <div class="column">
            <p>
              <strong>✉ Email:</strong><br>
              <a href="mailto:info@teatrkleks.com">info@teatrkleks.com</a>
            </p>
          </div>
        </div>
        <hr>
      </div>
      <script>

        (function () {

          var gallery = document.getElementById('gallery');

          gallery.addEventListener('click', getImage);

          function getImage (e) {
            var imgName = (e.srcElement || e.target).getAttribute('src').slice(21),
                img = new Image(),
                isImgOpen = gallery.lastChild.className === 'gallery__full-image';

            if (isImgOpen) {
              gallery.removeChild(gallery.lastChild);
              return;
            }

            img.src = 'images/galeria' + imgName;
            img.className = 'gallery__full-image'

            gallery.appendChild(img);

            return;
          }

        }());

      </script>

        <header>
            <script type="text/template">
                <% if(ctx.oauth().hasPrivilegedAccess) { %>
                    <div id="toolbar">

                        <form method="GET">
                            <label for="releaseSelector">See this website: </label>
                            <select id="releaseSelector" name="ref" onchange="this.form.submit()">
                                <option value="" <% if(ctx.ref == ctx.api.data.master.ref) { %> selected="selected" <% } %> >As currently seen by guest visitors</option>
                                <optgroup label="Or preview the website in a future release:">
                                <% for(var i=0; i<ctx.api.data.refs.length; i++) { %>
                                    <% if(!ctx.api.data.refs[i].isMaster) { %>
                                        <option value="<%= ctx.api.data.refs[i].ref %>" <% if(ctx.ref == ctx.api.data.refs[i].ref) { %> selected="selected" <% } %>>As <%= ctx.api.data.refs[i].label %></option>
                                    <% } %>
                                <% } %>
                                </optgroup>
                            </select>
                        </form>

                        <form action="signout.html" method="GET">
                            <input type="submit" value="Disconnect">
                        </form>

                        <hr>

                    </div>
                <% } %>

                <a href="index.html?<%= ctx.maybeRefParam %>">
                    <h1>Your prismic.io project</h1>
                </a>
            </script>
        </header>

        <form action="search.html" method="GET">
            <script type="text/template">
                <input type="hidden" name="ref" value="<%= ctx.maybeRef %>">
                <input type="text" name="q" value="">
                <input type="submit" value="Search">
            </script>
        </form>

        <hr>

        <h2 id="title">
            <script type="text/template">
                <% if(docs.length > 0) { %>
                    <%= docs.length %> documents
                <% } else { %>
                    No documents found
                <% } %>
            </script>
        </h2>

        <ul id="list">
            <script type="text/template">
                <% for(var i=0; i<docs.length; i++) { %>
                    <li>
                        <a href="detail.html?id=<%= docs[i].id %>&slug=<%= docs[i].slug %><%= ctx.maybeRefParam %>">
                            <%= docs[i].slug %>
                        </a>
                    </li>
                <% } %>
            </script>
        </ul>

        <footer>
            <script type="text/template">
                <% if(!ctx.oauth().hasPrivilegedAccess) { %>
                    <hr><a href="signin.html">Sign in to preview changes</a>
                <% } %>
            </script>
        </footer>

        <!-- Logic -->

        <script type="text/javascript">
            $(function() {

                Helpers.withPrismic(function(ctx) {

                    ctx.api.form("everything").ref(ctx.ref).submit(function(docs) {

                        // Feed the templates
                        $('header, form, #title, #list, footer').render({
                            docs: docs,
                            ctx: ctx
                        });

                    });

                });

            });
        </script>

    </body>
</html>
