@charset "UTF-8";
/* Will be compiled down to a single stylesheet with your sass files */
body {
  font-family: "Cardo", serif;
  font-size: 16px;
  line-height: 1.5em;
  background: url(../images/crisp_paper_ruffles.png); }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #3c9ecf; }

a:hover {
  color: #2b82ad; }

.back-to-top {
  font-size: 80px;
  position: fixed;
  right: 0;
  bottom: 9px;
  z-index: 1; }

.logo-wrapper {
  width: 22em;
  margin: 2em auto 4em; }

.navigation-wrapper {
  text-align: center;
  margin-bottom: 1em; }

.navigation {
  list-style: none;
  padding: 0;
  margin: 0; }
  .navigation li {
    display: inline-block;
    *display: inline;
    zoom: 1; }
    .navigation li a {
      font-family: "Lobster", "Georgia", serif;
      font-size: 30px;
      line-height: 30px;
      margin: 0 1em;
      font-weight: 700;
      color: #000;
      border: 3px dashed #940c5d;
      border-radius: 30px;
      padding: 0.5em;
      position: relative;
      background-color: #ee32a2;
      box-shadow: 0 0 3px #940c5d inset; }
      .navigation li a:hover {
        text-decoration: none;
        border-color: #f8a8d7; }
      .navigation li a:hover:before {
        content: "➸ ";
        position: absolute;
        left: -35px; }
    .navigation li .red {
      background-color: #f3b871;
      border: 3px dashed #d37b12; }
      .navigation li .red:hover {
        text-decoration: none;
        border-color: #fdf3e7; }
    .navigation li .green {
      background-color: #78b683;
      border: 3px dashed #3d7146; }
      .navigation li .green:hover {
        text-decoration: none;
        border-color: #cbe3cf; }

.intro-wrapper {
  width: 100%;
  padding: 1em 0; }

.intro-text {
  width: 600px;
  margin: 0 auto;
  text-align: center; }

.splatter {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  filter: alpha(opacity=40);
  top: 0;
  width: 100%; }

h2 {
  font-family: "Lobster", "Georgia", serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000; }
  h2 span {
    font-size: 1.6em;
    line-height: 1.5em; }

.content-wrapper {
  width: 100%;
  background: url(../images/creampaper.png);
  padding: 0; }

.lead {
  font-size: 1.125em; }

.theatre-text {
  width: 800px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 4em auto;
  color: #333; }

h3 {
  font-family: "Lobster", "Georgia", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 1em; }

#theatre h3 {
  color: #940c5d; }

#teachers h3 {
  color: #d37b12; }

#contact h3 {
  color: #3d7146; }

.column {
  width: 30%;
  border-left: 2px dashed #aad1b1;
  padding-left: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-align: left; }
